/* Messages view */

#messages-view {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  overflow: hidden;
}

#messages-list-container {
  flex: 1;
  overflow: scroll;
  padding-left: 1em;
  padding-right: 0.5em;
}

#message-bar {
  border: 1px gray;
  padding: 0;
  float: bottom;
}

#input-message {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

#input-message::-webkit-input-placeholder {
  color: #cfd8dc;
  font-weight: normal;
}

#send-button {
  width:100%;
  background-color: #29b6f6;
  margin: 0;
  border: 0;
  border-radius: 0;
}

#send-button:hover {
  background-color: #03a9f4;
}

#send-button:focus {
  outline: 0;
}

/* Chat bubbles */

.chat-bubble-other-container {
  text-align: left;
}

.chat-bubble-self-container {
  text-align: right;
}

.chat-bubble {
  text-align: left;
  display: inline-block;
  max-width: 64%;
  margin: 0.5em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
}

.chat-bubble-other {
  color: #000;
  background-color: #f1f0f0;
}

.chat-bubble-self {
  color: #e1f5fe;
  background-color: #03a9f4;
}

.profile-picture {
  object-fit: cover;
  width: 28px;
  height: 28px;
  line-height: 16px;
  border-radius: 2px;
  border-radius: 50%;
}
