/* Messages view */

#messages-view {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

#messages-list-container {
  flex: 1;
  overflow: scroll;
  padding-left: 1em;
  padding-right: 0.5em;
}

#message-bar {
  background-color: #CFD8DC;
  padding: 0.5em;
  float: bottom;
}

/* Chat bubbles */

.chat-bubble-other-container {
  text-align: left;
}

.chat-bubble-self-container {
  text-align: right;
}

.chat-bubble {
  text-align: left;
  display: inline-block;
  max-width: 64%;
  margin: 0.5em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
}

.chat-bubble-other {
  color: #000;
  background-color: #f1f0f0;
}

.chat-bubble-self {
  color: #E1F5FE;
  background-color: #03A9F4;
}

.profile-picture {
  object-fit: cover;
  width: 28px;
  height: 28px;
  line-height: 16px;
  border-radius: 2px;
  border-radius: 50%;
}
