/* Window */

html, body, #messages-view {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Login view */

#login-view {
  width: 100%;
  height: 100%;
  background-color: #fee;
  visibility: hidden;
}

/* Training view */

#training-view {
  visibility: hidden;
}
