/* Window */

html, body {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.view {
  width: 100%;
  height: 100%;
  overflow: scroll;
  visibility: hidden;
}

/* Directory selection view */

#directory-selection-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#directory-selection-title {
  text-align: center;
}

#directory-selection-instructions {
  font-size: 1.6em;
}

#directory-selection-instructions li {
  margin: 0.4em;
}

#directory-selection-button-container {
  text-align: center;
}

#directory-selection-button {
  font-size: 1.6em;
  text-align: center;
  padding: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-color: #29b6f6;
}

/* Training view */

#training-view {
  text-align: center;
}

#training-view-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#training-view-container .figure {
  margin-left: auto;
  margin-right: auto;
  max-width: 64%;
}

#training-view-container img {
  border-radius: 0.6em;
  width: 100%;
  height: auto;
}

#training-view-container .text-xs-right {
  text-align: right;
}
