/* Window */

html, body, #messages-view {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Instructions view */

#instructions-view {
  width: 100%;
  height: 100%;
  background-color: #E8EAF6;
  visibility: hidden;
}

/* Training view */

#training-view {
  width: 100%;
  height: 100%;
  background-color: #E8EAF6;
  visibility: hidden;
}
