/**
 * General
 */

body {
  font-family: 'Raleway', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #212121;
  background-color: #E3F2FD;
}

.container {
  width: 100%;
}

/**
 * Text
 */

#title {
  font-family: 'Cinzel', serif;
}

.description-container {
  margin-top: 1em;
}

/**
 * Images
 */

#icon {
  min-width: 8em;
  max-width: 20%;
  margin-top: 4em;
}

#screenshot {
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4em;
}

#screenshot img {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 1em;
  margin-bottom: 1em;
}

/**
 * Buttons
 */

.btn-narcissus {
  background-color: #2196F3;
  margin: 2em;
  padding: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn-narcissus:hover {
  background-color: #1E88E5;
}

/**
 * IcoMoon
 */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6cvkad');
  src:  url('fonts/icomoon.eot?6cvkad#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6cvkad') format('truetype'),
    url('fonts/icomoon.woff?6cvkad') format('woff'),
    url('fonts/icomoon.svg?6cvkad#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box-add:before {
  content: "\e95e";
}

.icon-github:before {
  content: "\eab0";
}
